<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- GENERAL -->
    <!--
    <setting id="first_run" type="bool" visible="false" label="first_run" default="true"/>
    -->
    <setting id="videoperpage" type="enum" lvalues="30005|30006|30007|30008" label="30004" default="0" />
    <setting type="sep" />
    <setting id="download_descript" type="bool" label="30010" default="false" enable="false"/>

    <!--
    <setting id="download" type="bool" label="30010" default="false"/>
    <setting id="download_path" type="folder" source="video" label="30012"  option="writeable" default="Q:\\cache\"/>
    <setting id="download_ask" type="bool" enable="eq(-2,false)" label="30013" default="false"/>
    -->
</settings>
