<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<settings>
  <setting id="version" value="pre-1.0.1" /> <!-- Don't touch this -->

  <!-- GENERAL -->
  <setting id="gen-rss_feed" value="0" /> <!-- for french "1" is default, settings.py -->
  <setting id="gen-show_plash" value="false" />
  <setting id="gen-script_debug" value="false" />
  <setting id="gen-pardir_not_hidden" value="1" />
  <setting id="gen-hide_extention" value="true" />
  <setting id="gen-update_startup" value="true" />
  <setting id="gen-xbmc_xml_update" value="false" />
  <setting id="gen-manager_view_mode" value="50" />
  <setting id="gen-main_view_mode" value="50" />

  <!-- SKINS -->
  <setting id="skin_colours" value="" />
  <setting id="skin_colours_path" value="default" />
  <setting id="skin-thumb_size" value="512" /> <!-- ON XBOX "192" is default, settings.py -->

  <!-- FORUM -->
  <setting id="frm-web_title" value="" />
  <setting id="frm-web_navigator" value="" />
  <setting id="frm-topics_limit" value="5" />
  <setting id="frm-hide_forum" value="false" />
  <setting id="frm-win32_exec_wait" value="false" />

  <!-- MISC -->
  <setting id="updating" value="false" />
  <setting id="path_ok" value="false" />

  <!-- SERVEUR FTP -->
  <setting id="ftp-host" value="stock.passionxbmc.org" />
  <setting id="ftp-user" value="anonymous" />
  <setting id="ftp-password" value="xxxx" />
</settings>
