<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- GENERAL -->
    <!--<setting type="lsep" label="Enregistrer les photos"/>-->
    <setting id="SAVE" type="bool" default="false"  label="30001"/>
    <setting id="PATH" type="folder" source="pictures" default="" label="30002"/>
</settings>
