<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- Type of Shortcut -->
  <setting type="lsep" label="30510" />
  <setting id="type_of_shortcut" type="enum" lvalues="30512|30513" label="30511" default="0" />
  <setting id="uix_shortcut" visible="!eq(-1,0)" type="enum" values="E:\Apps\XBMC\default.xbe|F:\Apps\XBMC\default.xbe|G:\Apps\XBMC\default.xbe|E:\Logiciels\XBMC\default.xbe|F:\Logiciels\XBMC\default.xbe|G:\Logiciels\XBMC\default.xbe" label="30520" default="0" />
  <setting type="sep" />

  <!-- Infos XBMC or Another Apps -->
  <setting type="lsep" label="30530" />
  <setting id="apps_path" enable="eq(-4,0)" type="files" source="files" mask=".xbe" label="30531" default="Q:\default.xbe" />
  <setting type="action" option="close" visible="eq(-1,Q:\default.xbe)+eq(-5,0)" label="30532" default="RunPlugin(plugin://Programs/XBMC XBoxDash Maker/?action=xbmcrealpath)" />
  <setting type="sep" />

  <!-- Infos Dashboard -->
  <setting type="lsep" label="30540" />
  <setting id="dash_path" type="files" source="files" mask=".xbe" label="30541" default="C:\evoxdash.xbe" />
  <setting id="use_tbn" type="bool" label="30542" default="false" />
  <setting id="tbn_path" visible="!eq(-1,false)" type="pictures" source="files" label="30543" default="Q:\plugins\programs\XBMC XBoxDash Maker\resources\thumbnails\default.png" />
  <setting type="sep" />

  <!-- Tools -->
  <setting type="lsep" label="30550" />
  <setting type="action" label="30551" default="RunPlugin(plugin://Programs/XBMC XBoxDash Maker/?action=testconfig)" />
  <setting type="action" label="30552" default="RunPlugin(plugin://Programs/XBMC XBoxDash Maker/?action=cachescleaner)" />
  <setting type="sep" />

  <!-- SVN Updater -->
  <setting type="lsep" label="XBMC SVN Updater" />
  <setting id="xbox_patched" type="enum" values="Normal Build|Patched Build" label="XBMC for XBox" default="0" />
</settings>