<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- GENERAL -->
    <setting type="sep"/>
    <setting label="30010" type="lsep" />
    <setting label="30011" type="text" id="catalog_refresh_rate" default="18000" />
    <setting label="30020" type="lsep" />
    <setting label="30021" type="enum" id="server" lvalues="30022|30023|30024" default="2" />
    <setting label="30030" type="lsep" />
    <setting label="30031" type="bool" id="debug" default="false" />
</settings>
