<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="$LOCALIZE[128]">
    <setting type="lsep" label="$LOCALIZE[480]" />
    <setting id="skin" type="fileenum" mask="/" values="resources\skins\" label="$LOCALIZE[166]" default="Classic" />
    <setting id="custom_bg" type="image" source="pictures" label="$LOCALIZE[33070]:" default="" />

    <setting type="lsep" label="In Game" />
    <setting id="mouse_zone" type="bool" label="Display area of the mouse around the ship" default="false" />
    <setting type="sep" />
    <setting id="bg_ingame" type="enum" lvalues="13278|20190|16018" label="$LOCALIZE[33068]" default="0" />
    <setting enable="eq(-1,1)" id="custom_bg_ingame" type="image" source="pictures" label=" - $LOCALIZE[15311]" default="" />
  </category>

  <category label="$LOCALIZE[439]">
    <setting type="lsep" label="$LOCALIZE[439] & $LOCALIZE[10004]" />
    <setting type="action" option="close" label="Clean cache and settings ..." action="RunScript($CWD/resources/libs/cleaner.py)" default="" />
  </category>
</settings>