<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<setting type="lsep" label="30000" />
   <setting id="resolution" type="enum" label="30001" values="500|356" />
   <setting type="lsep" label="Cleararts" />
   <setting id="clearart folder" type="enum" label="30002" lvalues="30004|30005" default="none"/>
   <setting visible="eq(-1,0)" id="path" type="folder" source="files" label="30003" default="special://skin" />
</settings> 