<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<setting type="lsep" label="30000" />
<setting id="quality" type="enum" label="qualité" values="Basse définition|Moyenne définition|Haute définition" default="2" />
<setting id="mon_cine" type="text" label="Code Cinéma Allociné" />
</settings>