<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="$LOCALIZE[128]">
    <setting type="lsep" label="Palettes" />
    <setting id="palette" type="image" source="pictures" label="Palette" default="" />
    <setting type="lsep" label="Colors" />
    <setting id="savedcolors" type="text" label="Saved Colors" default="ffffffff|ff000000" enable="false" />
    <setting id="previouscolor" type="text" label="Previous Color" default="" enable="false" />
  </category>

  <!-- testing -->
  <category label="Testing">
    <setting type="lsep" label="RunScript(script.color.picker,Built-In[,extra])" />
    <setting type="lsep" label="Skin Built-In" />
    <setting type="lsep" label="[COLOR=88FFFFFF]Skin.SetString(MyPrettyColor[,default color])[/COLOR]" />
    <setting type="action" label="Test: Change heading color for add-on XBMC Color Picker" action="RunScript($ID,Skin.SetString(MyPrettyColor,FFEB9E17))" option="close" default="" />
    <setting type="lsep" label="Add-on Built-In" />
    <setting type="lsep" label="[COLOR=88FFFFFF]Addon('MyAddonId').setSetting('MyPrettyColor'[,default color])[/COLOR]" />
    <setting type="action" label="Test: Change heading color for add-on XBMC Color Picker" action="RunScript($ID,Addon('script.color.picker').setSetting('MyPrettyColor'))" option="close" default="" />
    <setting type="lsep" label="Extra Option [COLOR=88FFFFFF][Start=PickColorOnScreen][/COLOR]" />
    <setting type="lsep" label="[COLOR=88FFFFFF]if you want pick color of current Screen, add extra option.[/COLOR]" />
    <setting type="action" label="Test: RunScript(script.color.picker,Built-In,Start=PickColorOnScreen)" action="RunScript($ID,Start=PickColorOnScreen)" option="close" default="" />
    <setting type="lsep" label="[COLOR=88FFFFFF]if you want ajust only transparency, add extra option.[/COLOR]" />
    <setting type="action" label="Test: RunScript(script.color.picker,Built-In,Transparency&Min=20&Max=90&SetStringInRealTime=true)" action="RunScript($ID,Skin.SetString(MyPrettyColor,$INFO[Skin.String(MyPrettyColor)]),Transparency&Min=20&Max=90&SetStringInRealTime=true)" option="close" default="" />
    <setting type="sep" />
    <setting type="action" label="Reset Test..." action="Skin.Reset(MyPrettyColor)" option="close" default="[COLOR=$INFO[Skin.String(MyPrettyColor)]]$INFO[Skin.String(MyPrettyColor)][/COLOR]" />
  </category>
</settings>
