<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="$LOCALIZE[128]">
    <setting type="lsep" label="32020" />
    <setting id="areacode1" type="action" label="$LOCALIZE[14019]" option="close" action="RunScript($CWD/resources/lib/areacode.py,areacode1)" default="New York, NY" />    
    <setting id="areacode2" type="action" label="$LOCALIZE[14020]" option="close" action="RunScript($CWD/resources/lib/areacode.py,areacode2)" default="London, United Kingdom" />
    <setting id="areacode3" type="action" label="$LOCALIZE[14021]" option="close" action="RunScript($CWD/resources/lib/areacode.py,areacode3)" default="Quebec City, QC" />

    <setting id="areacode1_city" type="text" label="-" default="New York, NY" visible="false" />
    <setting id="areacode1_code" type="text" label="New York, NY" default="179" visible="false" />
    <setting id="areacode2_city" type="text" label="-" default="London, United Kingdom" visible="false" />
    <setting id="areacode2_code" type="text" label="London, United Kingdom" default="136" visible="false" />
    <setting id="areacode3_city" type="text" label="-" default="Quebec City, QC" visible="false" />
    <setting id="areacode3_code" type="text" label="Quebec City, QC" default="189" visible="false" />
    <setting id="currentlocation" type="text" label="32021" default="1" enable="false" />

    <setting type="lsep" label="32040" />
    <setting id="icons_set" type="enum" label="32041" lvalues="32042|32043|32044|32045" default="1" />
    <setting id="custom_icons" type="folder" source="local" label="32046" default="" subsetting="true" enable="eq(-1,3)" />
  </category>
</settings>
