<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<setting id="loop" type="bool" label="Play theme in loop" default="False"/>
<setting id="downvolume" label="Lower sound value" type="slider" default="0" range="0,1,60" format="%1.f db" />
<setting id="smb_share" type="bool" label="Use Protected SMB share" default="False"/>
<setting id="smb_login" enable="eq(-1,true)" type="text" label="Username:" default="" />
<setting id="smb_psw" enable="eq(-2,true)" type="text" option="hidden" label="Password:" default="" />
</settings>