<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="128">
    <setting type="lsep" label="30020"/>
    <setting id="language" type="enum" label="30000" lvalues="30001|30002" default="0" />
    <setting id="rating" type="enum" label="30010" lvalues="30011|30012|30013" default="2" />
  </category>

  <category label="30050">
    <setting type="lsep" label="30051"/>
    <setting type="action" label="30052" action="RunScript($CWD/resources/lib/xbmcwebbrowser.py,$ID,http://passion-xbmc.org/scraper-cine-passion-support-francais/)" default="" />
    <setting type="lsep" label="30053"/>
    <setting type="action" label="30054" action="RunScript($CWD/resources/lib/xbmcwebbrowser.py,$ID,http://passion-xbmc.org/scraper/index2.php?Page=Home)" default="" />
  </category>
</settings>
