<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Affichage">
    <setting id="mixtitle" type="bool" label="Mixer le titre des émissions avec les épisodes" default="false"/>
    <setting enable="eq(-1,true)" id="separator" type="text" label=" &#8226; Séparateur" default="-" />
  </category>

  <category label="Réglages Qualité">
    <setting id="quality" type="enum" label="Qualité de la lecture des médias" values="[HD]|(SD)" default="0" />
  </category>

  <category label="Téléchargements">
    <setting id="AskDl" type="bool" label="Toujours me demander où enregistrer les téléchargements" default="false" />
    <setting id="DlPath" enable="eq(-1,false)" type="folder" source="files" option="writeable" mask="/" label=" &#8226; Chemin des téléchargements:" default="" />
    <setting type="sep" />
    <setting id="DlBackground" type="bool" label="Activer le téléchargement en arrière-plan" default="false" />
    <setting id="ReportPercent" enable="eq(-1,true)" type="enum" values="0|5|10|20|25|50|100" label=" &#8226; Notifier le téléchargement à chaque [B]%[/B]" default="0" />
  </category>
</settings>