<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- GENERAL -->
  <setting type="lsep" label="30019" />
  <setting id="path" type="folder" source="video" label="30020" default="" />
  <setting enable="!eq(-1,)" id="write_list" type="enum" lvalues="30022|30023|30024" label="30021" default="2" />
  <setting type="sep" />

  <!-- SCRAPER SETTINGS -->
  <setting type="lsep" label="30133" />
  <setting id="trailers_scraper" type="fileenum" mask="/" values="resources\pluginAPI\scrapers\trailers\" label="30139" default="AlloCine" />
  <setting enable="!eq(-1,AlloCine)" id="passion_fanart" type="bool" label="30134" default="false" />
  <!-- Not fully implanted. not enable for a moment -->
  <setting enable="eq(-2,)" id="download_state" type="enum" lvalues="30141|30142|30143" label="30140" default="0" />
  <setting id="download_path" enable="!eq(-1,0)" type="folder" source="video" option="writeable" mask="/" label="30144" default="" />
  <setting type="sep" />

  <!-- VIDEO NFO FILES CONTAINING A MIX OF XML AND URL -->
  <setting type="lsep" label="30100" />
  <setting enable="eq(1,)" id="clear_actor" type="bool" label="30101" default="false" />
  <setting enable="eq(-1,)" id="clear_genre" type="bool" label="30102" default="false" />
  <setting enable="eq(-1,)" id="clear_studio" type="bool" label="30103" default="false" />
  <setting enable="eq(-1,)" id="clear_credits" type="bool" label="30104" default="false" />
  <setting enable="eq(-1,)" id="clear_director" type="bool" label="30105" default="false" />
  <setting type="sep" />

  <!-- WEB SETTINGS -->
  <setting type="lsep" label="30029" />
  <setting id="web_navigator" type="files" source="files" label="30030" default="" />
</settings>